<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Enter a city or zip..." name="searchLocation" [(ngModel)]="searchLocation" >
  </form>
</div>
<ng-container *ngIf="weatherData">
<div class="container" >
  <div class="upper-data">
    <div class="upper-img">
      <img src="https://openweathermap.org/img/wn/{{ weatherData.weather[0].icon }}@4x.png">
    </div>
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}&deg;</div>
      <div class="weather-description">{{ weatherData.weather[0].description }}</div>
    </div>
    
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <span>min</span>
        </div>
        <div class="info-block-value min">
          {{ weatherData.main.temp_min | number: '1.0-0' }}&deg;
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>max</span>
        </div>
        <div class="info-block-value max">
          {{ weatherData.main.temp_max | number: '1.0-0' }}&deg;
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>humidity</span>
        </div>
        <div class="info-block-value humidity">
          {{ weatherData.main.humidity }}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>wind</span>
        </div>
        <div class="info-block-value win">
          {{ weatherData.wind.speed }} mph
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>precip</span>
        </div>
        <div class="info-block-value precip">
          {{ this.getPrecip() }} in
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>pressure</span>
        </div>
        <div class="info-block-value pressure">
          {{ weatherData.main.pressure }} hPa
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>sunrise</span>
        </div>
        <div class="info-block-value sunrise">
          {{ this.convertTime(weatherData.sys.sunrise, weatherData.timezone) }}
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <span>sunset</span>
        </div>
        <div class="info-block-value sunset">
          {{ this.convertTime(weatherData.sys.sunset, weatherData.timezone)}}
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<router-outlet></router-outlet>